<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>e-learning Glossary</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="card-header">
          <h1>Глоссарий</h1>
        </div>

        <ul class="glossaries">
          <% for(var i = 0; i < glossary.length; i++) {%>
          <li class="glossary">
            <span><%= glossary[i].term %></span>:
            <span><%= glossary[i].meaning %></span>
          </li>
          <% } %>
        </ul>
        <br />
        <hr />
        <h3>Add new terms</h3>

        <form action="/glossary" method="POST">
          <input type="text" placeholder="term" name="term" />
          <input type="text" placeholder="meaning" name="meaning" />
          <button type="submit">Submit</button>
        </form>
        <br />
        <hr />

        <div class="text-center">
          <img src="mindmap.png" class="img-fluid" alt="mindmap" />
        </div>
      </div>
    </div>
  </body>
</html>
